body {
  background-color: #000210;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  overflow: hidden;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right div {
  margin-right: 50px;
}

.logo {
  width: 100px;
  margin-left: 20px;
}

.navbar-right-link {
  color: white;
  font-size: 30px;
  font-family: 'Akshar', sans-serif;
  text-decoration: none;
}

.navbar-right-link:hover {
  color: #0b76db;
}