#upper-body {
  height: 700px;
  position: relative;
  background-image: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(7,17,88,0.5) 14%, rgba(195,195,195,0.5) 100%), url('./images/upper-body-background.jpg');
  background-size: cover;
}

.upper-body-text-div {
  width: 35%;
  padding-top: 100px;
  padding-left: 200px;
}

.upper-body-h1 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-family: 'Anek Gujarati', sans-serif;
}

.upper-body-p {
  color: lightgray;
  font-size: 25px;
  font-family: 'Anek Gujarati', sans-serif;
}

.upper-body-btn {
  margin-top: 20px;
  width: 230px;
  height: 50px;
  font-size: 25px;
  font-family: 'Akshar', sans-serif;
  border: none;
  border-radius: 30px;
  background-color: #0b76db;
  color: white;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.upper-body-btn:hover {
  transform: scale(1.1);
}